<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Update Camper</h2>
            <p th:text="${message}"></p>
            <form th:object="${camper}" action="add.html" th:action="@{/camper/addSubmit}" method="get" class="form-horizontal">
                <fieldset>
                    <input type="hidden" th:field="${camper.id}"/>
                    <table class="table table-striped">
                        <tr>
                            <th>First Name</th>
                            <td><input type="text" th:field="${camper.firstName}"/>
                                 <ul th:if="${#fields.hasErrors('firstName')}">
                                        <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">First name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input type="text" th:field="${camper.lastName}" maxlength="100"/>
                                 <ul th:if="${#fields.hasErrors('lastName')}">
                                        <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Last name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>DOB</th>
                            <td><input type="text" th:field="${camper.dob}" maxlength="100"/>
                                 <ul th:if="${#fields.hasErrors('dob')}">
                                        <li class="error" th:each="err : ${#fields.errors('dob')}" th:text="${err}">DOB is invalid</li>
                                 </ul><br/>

                            </td>
                        </tr>

                        <tr>
                            <th>Camp Type</th>
                            <td>
                                <select th:field="${camper.campType}">
                                    <option th:each="theType : ${session.campTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                </select>

                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>